::-webkit-scrollbar{
    width: 0.3rem;
}
::-webkit-scrollbar-track{
    background: #c6c6c6;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #1f3f78;
    border-radius: 10px;
}

/* @keyframes appear {
    from {
        opacity: 0;
        scale: 0.5; */
        /* transform: translateX(-100px); */
        /* clip-path: inset(100% 100% 0 0); */
    /* }
    to {
        opacity: 1; */
        /* scale: 1; */
        /* transform: translateX(0px); */
        /* clip-path: inset(0 0 0 0); */
    /* }
}
.blocker {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
} */

